* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f2f2f;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#canvas1 {
  width: 1000px;
  max-width: 95vw;
  height: 500px;
  border: 4px solid #111;
  background: #000;
  display: block;
}
